@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap");

.title-test {
  font-family: "Red Hat Display", sans-serif;
  text-align: center;
}

.btn-test-qi {
  width: 90%;
  font-size: 1.2em;
  line-height: 250%;
  border-radius: 60px;
  margin-bottom: 10%;
  margin-left: 4.5%;
  margin-right: 4.5%;
  background-color: #ff3dec;
  border: none;
  margin-top: 15%;
  font-family: "Red Hat Display", sans-serif;
}

.btn-test-abilities {
  width: 90%;
  font-size: 1.2em;
  line-height: 250%;
  border-radius: 60px;
  margin-bottom: 10%;
  margin-left: 4.5%;
  margin-right: 4.5%;
  background-color: #00ffc2;
  border: none;
  font-family: "Red Hat Display", sans-serif;
}

.btn-test-logic {
  width: 90%;
  font-size: 1.2em;
  line-height: 250%;
  border-radius: 60px;
  margin-bottom: 10%;
  margin-left: 4.5%;
  margin-right: 4.5%;
  background-color: #f85915;
  border: none;
  font-family: "Red Hat Display", sans-serif;
}

.btn-aptitude {
  width: 90%;
  font-size: 1.2em;
  line-height: 250%;
  border-radius: 60px;
  margin-bottom: 5%;
  margin-left: 4.5%;
  margin-right: 4.5%;
  background-color: #9164f2;
  border: none;
  font-family: "Red Hat Display", sans-serif;
}
